/* General reset for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Centering body content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e1e1e;
}

/* Main container styling */
.container {
    background-color: #2e2e2e;
    height: 600px;
    width: 460px;
    margin-top: 80px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title styling */
h2 {
    text-align: center;
    color: #e0e0e0;
    margin-bottom: 20px;
}

/* Input section styling */
.input {
    text-align: center;
    margin-bottom: 20px;
}

/* Input field styling */
input[type="text"] {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #3e3e3e;
    height: 40px;
    width: 260px;
    margin-right: 5px;
    font-weight: bold;
    outline: none;
    background-color: #3e3e3e;
    color: #ffffff;
}

/* Add button styling */
button.add {
    height: 40px;
    width: 70px;
    border-radius: 4px;
    border: none;
    margin-right: 5px;
    font-weight: bold;
    background-color: #1abc9c;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}

button.clear-all {
    height: 40px;
    width: 70px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: #1abc9c;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}

/* Add button hover effect */
button.add:hover {
    background-color: #16a085;
    transform: scale(1.05);
}
button.clear-all:hover {
    background-color: #16a085;
    transform: scale(1.05);
}

/* Task container styling */
.task-container {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    height: 420px;
    overflow-y: auto;
}

.task-manager .task-box {
    background-color: #444444;
    height: 38px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 8px;
    padding: 12px;
}

/* Initially hidden task manager */
.task-manager {
    visibility: hidden;
}

.task-box input[type="checkbox"] {
    margin-right: 8px;
    background-color: #1abc9c;
    transform: scale(1.1);
}

.task-box i {
    color: white;
    width: 26px;
    height: 26px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: #e74c3c;
    cursor: pointer;
}

/* Task list item styling */
.task-box li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    color: #e0e0e0;
    font-size: large;
}

/* Checkbox container styling */
.delete-comp {
    display: flex;
    align-items: center;
}

