/* General reset for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Centering body content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #240750;
}

/* Main container styling */
.container {
    background-color: #006769;
    height: 600px;
    width: 460px;
    margin-top: 80px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title styling */
h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

/* Input section styling */
.input {
    text-align: center;
    margin-bottom: 20px;
}

/* Input field styling */
input[type="text"] {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 260px;
    margin-right: 10px;
    font-weight: bold;
    outline: none;
}

/* Add button styling */
button.add {
    height: 40px;
    width: 85px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: #40A578;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}

/* Add button hover effect */
button.add:hover {
    background-color: #6fe6b1;
    transform: scale(1.05);
}

/* Task container styling */
.task-container {
    background-color: #40A578;
    padding: 20px;
    border-radius: 10px;
    height: 420px;
    overflow-y: auto;
}

.task-manager .task-box {
    background-color: purple;
    color: wheat;
    height: 34px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 8px;
    padding: 12px;
}


/* Initially hidden task manager */
.task-manager {
    visibility: hidden;
}

/* Individual task box styling */
.task-box {
    background-color: #9DDE8B;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}

/* Task list item styling */
.task-box li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

/* Checkbox container styling */
.delete-comp {
    display: flex;
    align-items: center;
}

/* Checkbox styling */
.check-box {
    margin-right: 10px;
}

/* Delete button icon styling */
.fa-trash-can {
    cursor: pointer;
    color: black;
}
